$mainFont: ('Roboto', sans-serif);
$logoFont: ('Pacifico', sans-serif);
$slider_title_font: ('Exo', sans-serif);

$mainColor: #fffcf4;
$text_color: #fff;
$titileColor: #454546;
$text_border_Color: #8f8e91;
$decor_color: #1dde85;

$fsXXXL: 48px;
$fsXXL: 40px;
$fsXL: 30px;
$fsL: 24px;
$fsM: 18px;
$fsS: 16px;
$fsXS: 14px;

$font_weight: bold;

$container_padding: 125px;
$marginTitle: 55px;

$border_position: bottom;

$margin-step: 20px;
$block-step: 125px;

$transition: 0.5s;